* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img {
    max-width: 100%;
    display: block;
}




.header {
    max-width: 100%;
    height: 105px;


}


.header_wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.header_content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}



/* ==============BURGER====================== */
/* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
}

/* стилизуем кнопку */
.menu__btn {
    display: flex;
    /* используем flex для центрирования содержимого */
    align-items: center;
    /* центрируем содержимое кнопки */
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}


.hamburger-menu {
    display: none;
}

/* добавляем "гамбургер" */
.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

/* контейнер меню */
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 320px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #2b2a2aee;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}




/* элементы меню */
.menu__item {

    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 125%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px;


    color: #FFFFFF;
}

.menu__item:hover {

    border: 2px solid #fff;
    border-radius: 30px;

}

.menu__btn>span::after {
    content: '';
    top: 8px;
}




#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 0;
}





.nav ul {
    width: 396px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}


.nav li a {
    text-decoration: none;
    font-family: 'Roboto Condensed';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #000;
    transition: .3s ease;
}


.nav li a:hover {
    border-bottom: 2px solid #000;
}


.header_contact {
    width: 176px;
    height: 36px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.phone {
    background-image: url('../image/icon_phonB.svg');
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    cursor: pointer;

}

.phone:hover {
    opacity: 0.4;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);

}


.header_contact p {

    font-family: 'Roboto Condensed';
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000;
}






/*=====================main================================*/


.main_use {
    max-width: 1440px;
    height: 935px;
    margin: 0 auto;
    padding: 15px;
}

.use_wrapper {
    max-width: 1200px;
    height: 900px;
    margin: 0 auto;
    padding: 20px;
}



.description_use h2 {
    font-family: 'Roboto Condensed';
    font-weight: 300;
    font-size: 40px;
    line-height: 47px;
    display: flex;
    justify-content: space-around;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #777777;
    margin-bottom: 40px;

}



.use_content {
    max-width: 1200px;
    height: 759px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.line_two {
    border: 1px solid #D5D5D5;
    background-color: #D5D5D5;
}

.descript_content h3 {
    font-family: 'Roboto Condensed';
    font-weight: 300;
    font-size: 45px;
    line-height: 47px;

    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #777777;

}


.item__header h4 {
    font-family: 'Roboto Condensed';
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #777777;
    padding-top: 20px;
}


.item__body p {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #777777;
    margin-bottom: 10px;
}


.item {
    max-width: 573px;
    height: 773px;
}

/*================disaign=====================*/


.disaign {
    max-width: 1440px;
    height: 705px;
    margin: 0 auto;
}


.disagn_wrapper {
    max-width: 1200px;
    height: 705px;
    margin: 0 auto;
}


.disaign_inter {
    max-width: 1200px;
    height: 720px;
    padding: 15px;

}

.dis_descript {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.dis_descript h3 {
    max-width: 492px;
    font-family: 'Roboto Condensed';
    text-align: center;
    font-weight: 300;
    font-size: 25px;
    line-height: 45px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #777777;
}


.block_slide {
    max-width: 1200px;
    height: 545px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    justify-items: center;
    transition: .2s ease;

}






.bas_desc {
    text-align: center;
}

.bas_desc h4 {
    font-family: 'Roboto Condensed';

    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.08em;
    text-transform: uppercase;

    color: #777777
}

.bas_desc p {
    font-family: 'Roboto Condensed';
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #878787
}

.bass_content {
    width: 227px;
    height: 300px;
    display: none;

}

.bass_content.active {
    display: block;


}


.accordion.active {
    height: 475px;

}

.block_slide.active {
    height: 515px;
}



.accordion {
    width: 227px;
    height: 108px;
    border: 2px solid #D5D5D5;
    transition: .4s ease;
}

.accordion__item {

    border-radius: 50px;

}

.button.active {
    margin-top: 67px;
}

.accordion:hover {
    border-color: #393246;
}

.bas_title h5 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 24px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding: 0 10px;


    color: #777777;
}

.button {
    width: 223px;
    height: 39px;
    background-color: #fff;
    font-family: 'Roboto Condensed';
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #000;

}

.button_butt {
    width: 223px;
    height: 39px;
    background-color: #fff;
    font-family: 'Roboto Condensed';
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #000;

}

.button:hover {
    background: #393246;
    color: #fff;
    border: 2px solid #393246;
}




.down {
    display: flex;
    justify-content: space-around;
}



.button_down {

    width: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    font-family: 'Roboto Condensed';
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #777777;
}



/*====================slider========================*/
.slider {
    max-width: 1440px;
    height: 406px;
    margin: 0 auto;
}

.wrapper_slider {
    max-width: 1200px;
    height: 506px;
    margin: 0 auto;

    padding: 20px;
}

.desc_slide {
    display: flex;
    justify-content: space-around;
}

.desc_slide h3 {
    font-family: 'Roboto Condensed';
    font-weight: 300;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #777777;
    margin-bottom: 20px;
}

.my-slider {

    border: 1px solid #000;
    margin: 50px;
    overflow: hidden;
    /*transition: transform 3s ease;*/
}

.my-slider ul {
    list-style: none;
    display: flex;
    transition: transform 3s ease;

}


.my-slider ul li {
    flex: none;
    height: 223px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.my-slider {

    margin: 13px;
}


.btn {
    display: flex;
    justify-content: space-between;
}


.project a {
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto Condensed';
    font-weight: 300;
    font-size: 40px;
    line-height: 47px;

    letter-spacing: 0.08em;
    text-transform: uppercase;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 50px;
    color: #777777;
}

.project a:hover {
    color: #393246;
}




.pop_up {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 2;
}

.pop_up.active {
    display: block;
}


.pop_up_container {
    display: flex;
    width: 100%;
    height: 100%;
}

.pop_up_body {
    margin: auto;
    width: 800px;
    height: 360px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 50px;
    position: relative;
}

.pop_up_body h3 {

    font-family: 'Roboto Condensed';
    text-align: left;
    font-weight: 300;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #777777;
    margin-bottom: 30px;
}

.pop_up_body input {
    width: 335px;
    height: 29px;
    border: none;
    border-bottom: 1px solid #777777;
}


input {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #393246;
    margin-bottom: 30px;
}


.pop_up_body input:focus {
    outline: none;
}



.pop_up button {
    cursor: pointer;
    display: block;
    width: 228px;
    height: 60px;
    background: #393246;
    border: 1px solid #393246;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

.pop_up_body p {
    width: 309px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-align: left;
    color: #878787;

}

.button__down {
    display: flex;
    gap: 34px;
    align-items: center;
}

.pop_up_close {
    position: absolute;
    /* width: 18px; */
    /* height: 18px; */
    top: -53px;
    right: -13px;
    font-size: 40px;
    cursor: pointer;
    color: #fff;
}




/*==============POP UP==================================*/

.pop {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 2;
}

.pop.active {
    display: block;
}


.pop__container {
    display: flex;
    width: 100%;
    height: 100%;
}



.pop__body {

    margin: auto;
    width: 629px;
    height: 394px;
    background-color: #fff;
    text-align: center;
    padding: 50px;
    position: relative;

}

.pop_Up {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.pop__body p {
    width: 331px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #777777;
    text-align: center;
    margin-bottom: 40px;
}

.pop__body h3 {

    font-family: 'Roboto Condensed';
    text-align: left;
    font-weight: 300;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #777777;
    text-align: center;
    margin-bottom: 30px;
}

.pop__body input {
    width: 335px;
    height: 29px;
    border: none;
    border-bottom: 1px solid #777777;
}


input {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #393246;
    margin-bottom: 30px;
}


.pop__body input:focus {
    outline: none;
}



.pop button {
    cursor: pointer;
    display: block;
    width: 228px;
    height: 60px;
    background: #393246;
    border: 1px solid #393246;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}



.button_down {
    display: flex;
    gap: 34px;
    align-items: center;
}

.pop__close {
    position: absolute;
    /* width: 18px; */
    /* height: 18px; */
    top: -53px;
    right: -13px;
    font-size: 40px;
    cursor: pointer;
    color: #fff;
}

.social_conts a {
    text-decoration: none;
    font-family: 'Roboto Condensed';

    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #777777;
}

.social_conts {

    display: flex;
    justify-content: space-around;
}


/*======================footer===========================*/

.footer {
    max-width: 100%;
    height: 250px;
    background: #F7F7F7;
    margin: 0 auto;
}

.footer_wrapper {
    margin: 0 auto;
    max-width: 1200px;
    height: 250px;
    padding: 10px;
}

.social {
    display: flex;
    justify-content: center;
    padding-top: 105px;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 30px;
}

.social_site {
    display: flex;
    justify-content: space-evenly;
    width: 300px;


}

.social_site a {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #777777;
    text-decoration: none;
}

.subtutels p {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    color: #878787;
}